<%= form_with model: @user, 
    local: true, 
    multipart: true, 
    class:'user_form',
    data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages' %>
  <div class='field'>
    <%= image_tag avatar_for(@user), 
        alt: 'Avatar', 
        size: '100x100',
        id:'avatar_upload_btn', 
        class:'avatar_upload_btn'  %>
    <%= f.file_field :avatar, 
        id: 'avatar_upload_field',
        # onchange:'show_new_imgs(e)',
        class:'hidden'
    %>
    <div>( Click to edit avatar )</div>
  </div>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit submit_button_label, class: "button button-blue"  %>

<% end %>

<script>
  document.getElementById('avatar_upload_btn').addEventListener('click', e=> {
    console.log('avatar_upload_btn')
    e.preventDefault();
    document.getElementById('avatar_upload_field').click();
  });

  document.getElementById('avatar_upload_field').addEventListener('change', function() {
    const file = this.files[0];
    const reader = new FileReader();

    reader.onloadend = function() {
      document.getElementById('avatar_upload_btn').src = reader.result; // Update preview
    }
    if (file) {
      reader.readAsDataURL(file); // Read file and call onloadend
      console.log('Avatar file:', file.name);
      console.log('Avatar file path: ',  URL.createObjectURL(file));
    }
  });
</script>