<div class='record_edit_page'>

Editing---
<%= @record.id %>

<div>
  <%# form_with : https://qiita.com/manbolila/items/b8336ab115f3aebacbb9 %>
  <%= form_with model: @record, local: true, multipart: true  do |f| %>

    <div class="field">
      <%= f.label :record_type %>
      <%= f.select :record_type, Record.record_types.keys.map { |w| [w.humanize, w] } %>
    </div>

    <div class="field">
      <%= f.label :record_status %>
      <%# * It's 'record_statuses', not 'record_status' here !!!! %>
      <%= f.select :record_status, Record.record_statuses.keys.map { |w| [w.humanize, w] } %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>


    <div class="field">
      <%= f.label :machine %>
      <%= f.collection_select :machine_id, Machine.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :user %>
      <%= f.collection_select :user_id, User.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :images %><br>
      <%# direct_upload: https://edgeguides.rubyonrails.org/active_storage_overview.html#direct-uploads
      https://techracho.bpsinc.jp/hachi8833/2018_02_06/52179 %>
      <%= f.file_field :images, 
          multiple: true , direct_upload: true,
          onchange: "previewImages(event)"
      %>

      <%# file_field_tag "images[]", type: :file, 
        multiple: true , direct_upload: true,
        onchange: "previewImages(event)"%>
      <div id="image-preview"></div>
    </div>

      <div class='flex-box'>
        <% @record.images.each do |image| %>
          <div class=''>
            <%= image_tag image , :class => "record_img_thumbnail"%>
            <%= check_box_tag 'images_to_delete[]', image.id %>
            <%= label_tag "delete_image_#{image.id}", 'Delete' %>
          </div>
        <% end %>
      </div>

    <%= f.submit 'Save' %>
    
  <% end %>
</div>

<script>
  function previewImages(event) {
    var files = event.target.files;
    var imagePreview = document.getElementById('image-preview');
    imagePreview.innerHTML = '';  // Clear up 

    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();

      reader.onload = function(e) {
        var img = document.createElement('img');
        img.src = e.target.result;
        img.style.width = '200px';
        imagePreview.appendChild(img);
      }

      reader.readAsDataURL(file);
    }
  }
</script>





</div>