<div>

Editing---
<%= @record.id %>

<div>
  <%# form_with : https://qiita.com/manbolila/items/b8336ab115f3aebacbb9 %>
  <%= form_with model: @record do |f| %>

    <div class="field">
      <%= f.label :record_type %>
      <%= f.select :record_type, Record.record_types.keys.map { |w| [w.humanize, w] } %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>


    <div class="field">
      <%= f.label :machine %>
      <%= f.collection_select :machine_id, Machine.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :user %>
      <%= f.collection_select :user_id, User.all, :id, :name %>
    </div>

    <%= f.submit 'Save' %>
    
  <% end %>
</div>


</div>