<div>

Editing---
<%= @record.id %>

<div>
  <%= form_for @record do |f| %>

      <div class="field">
      <%= f.label :type %>
      <%= f.text_area :type %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <%= f.label :machine %>
      <%= f.text_area :machine %>
    </div>

    <div class="field">
      <%= f.label :user %>
      <%= f.text_area :user %>
    </div>

    <%= f.submit 'Save' %>
    
  <% end %>
</div>


</div>