<%#= stylesheet_link_tag 'records' %>


<div class='records_index_page'>
<h1>Records Page</h1>

<div>Total records: <%= @totle_records_count %></div>
<div class='flex-box'><div class="icon-overflow">! Overflow Records</div>: <%= @overflow_records_count %></div>
 
<button class='button-blue'>Add New Record</button>

<p><%= pluralize(Record.count, 'record')  %></p>
<ul class='records_list'>
  <% @records.each do |record| %>
    <li>
    <% if record.title.present? %>
    <%=link_to record.title, record%>
    <% else %>
      'no title'
    <% end %>
    <%= render record %>
    </li>
  <% end %>
</ul>



  
</div>




