<div class='navbar flex-box'>

  <div class='flex-box'>
    <%= link_to 'HOME' ,root_path %>
    <%= link_to 'USERS' ,users_path %>
    <%= link_to 'MACHINES' ,machines_path %>
    <%= link_to 'RECORDS',records_path%>
  </div>

  <div class='flex-box'>
    <%  if logged_in? %>
      <%= link_to "Profile", current_user %>
      <%# run this command to enabel turbo: 
          rails importmap:install turbo:install stimulus:install %>
      <%= link_to 'LOG OUT', logout_path, data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to 'SIGN UP',signup_path %>
      <%= link_to 'LOG IN',login_path %>
    <% end %>
  </div>

  


</div>