<div class='navbar flex-box'>

  <div>
    <%= link_to 'HOME' ,root_path %>
    <%= link_to 'USERS' ,users_path %>
    <%= link_to 'MACHINES' ,machines_path %>
    <%= link_to 'RECORDS',records_path%>
  </div>

  <div>
    <%= link_to 'SIGN UP',signup_path %>
  </div>


</div>